#textdomain wesnoth-Era_of_Four_Moons

### | Era of Four Moons Custom Default Factions

## | Highlanders - Default

[multiplayer_side]
    id=Wesmere AE Highlanders
    name= _"Highlanders"
    image=units/highlander/oliephant.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE HighlanderWarrior
    leader=AE HighlanderWarrior,AE Prowler,AE Shaman,AE Warlock


recruit=Elvish Fighter,Elvish Archer,AE Brave,AE Hunter,AE Runner,AE LionWarrior,AE WitchDoctor,AE Elephant,AE Hippo
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,healer,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Imperialists - Default

[multiplayer_side]
    id=Wesmere AE Imperialists
    name= _"Imperialists"
    image=units/imperialists/legatus.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Centurion
    leader=AE Centurion,AE Stalwart,AE ShockTroop

recruit=Elvish Fighter,Elvish Archer,AE Legionnaire,AE Slinger,AE Hardback,AE Pelite,AE Standard,AE Sapper,AE Galley,AE Ballista
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,scout,archer,scout,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sea States - Default

[multiplayer_side]
    id=Wesmere AE Sea States
    name= _"Sea States"
    image=units/seastates/merchant_lord.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE GuildOfficer
    leader=AE GuildOfficer,AE Retainer,AE VeteranBowman,AE Concoctionist,AE Doctor

recruit=Elvish Fighter,Elvish Archer,AE Regimenteer,AE CompositeBowman,AE Rider,AE HorseArcher,AE Alchemist,AE Boatsman,AE PaddleShip
    terrain_liked=Rd
    [ai]
recruitment_pattern=scout,archer,fighter,artillery,fighter,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Darklanders - Default

[multiplayer_side]
    id=Wesmere AE Darklanders
    name= _"Darklanders"
    image=units/darklander/judgement.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Wrath
    leader=AE DarklanderMilitia,AE Stalker,AE Serpent,AE Wrath

recruit=Elvish Fighter,Elvish Archer,AE Tribesman,AE Hurler,AE Beastman,AE JaguarRider,AE Viper,AE Malice,AE Canoe
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,scout,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
